<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{% if not_root %}../{%endif %}favicon.png">
  <link rel="stylesheet" href="{% if not_root %}../{%endif %}style.css">
  <link rel="stylesheet" href="{% if not_root %}../{%endif %}codehilite.css">
  <title>Alex Jacobs: Flying Blind on a Rocket Cycle</title>
</head>

<body>
  <div id="content">
    <header>
      {% include "header.jinja2" %}
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <p>© Helsinki Softworks 2023 - "We Create Obfuscation"</p>
    </footer>
    <noscript>
      Luckily for you, I didn't bother including any trackers!
    </noscript>
</body>
</div>

</html>
