{% extends "base.j2" %}

{% block content %}
<h1>$ ls /blog</h1>
<hr>
<ul id="article-list">
  {% for item in metadata %}
  <li>
    <span>
      [{{ item.date_created }}] -
    </span>
    <a href="blog/{{ item.file_name }}.html">
      {{ item.article_name }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}