{% extends "base.j2" %}

{% block content %}
<h1>Blog</h1>
<hr>
{% for item in metadata %}
<a href="blog/{{ item.metadata.name }}.html">
  [{{ item.metadata.date_created }}]: {{ item.metadata.name }}
</a>
{% endfor %}
{% endblock %}