<nav>
  <a class="link" href="{% if not_root %}../{%endif %}index.html">Home</a>
  -
  <a class="link" href="{% if not_root %}../{%endif %}resume.html">Resume</a>
  -
  <a class="link" href="{% if not_root %}../{%endif %}blog.html">Blog</a>
</nav>