<nav>
  <a class="link" href="{% if not_root %}../{%endif %}index.html">Home</a>
  -
  <a class="link" href="{% if not_root %}../{%endif %}resume.html">Resume</a>
  -
  <a class="link" href="{% if not_root %}../{%endif %}blog.html">Blog</a>
  -
  <a class="link" href="https://github.com/MaximumFluff" target="_blank">GitHub</a>
  -
  <a class="link" href="https://www.linkedin.com/in/alex-jacobs-759b9564/" target="_blank">LinkedIn</a>
  -
  <a class="link" href="https://mastodon.sdf.org/@MaximumFluff" rel="me" target="_blank">Mastodon</a>
</nav>