<nav id="header">
  <a href="{% if not_root %}../{%endif %}index.html">Home</a>
  <a href="{% if not_root %}../{%endif %}resume.html">Resume</a>
  <a href="{% if not_root %}../{%endif %}blog.html">Blog</a>
</nav>