{% extends "base.j2" %}
{% block content %}
<h1>Welcome!</h1>
<p>This is a test of the jinja2 templating engine!</p>
<p>A list of languages I know</p>
<ol>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
  <li>Typescript</li>
  <li>C#</li>
  <li>Python</li>
</ol>
{% endblock %}