{% extends "base.j2" %}
{% block content %}
<h1>About me</h1>
<hr>
<div>
  <img id="avatar" src="images/avatar.jpg" alt="GitHub avatar">
  <p>I am a British born/Finnish citizen currently living in Helsinki, Finland. I graduated with a Bachelor's degree in
    Business Information Technology from Haaga-Helia University of Applied Sciences in 2019 (after starting my degree in
    2016).
  </p>

  <p>I wrote my Bachelor's thesis on a comparitive analysis of JavaScript package managers that were available in 2019,
    which you can read <a href="https://www.theseus.fi/handle/10024/227945" target="_blank">here</a></p>

  <p>During my working career I have mainly worked on the front-end with a speciality in React / React Native
    development,
    while also handling back-end development with JavaScript/TypeScript/Express.js and C# (Serverless functions with
    Azure)</p>

  <p>I am confortable working in a variety of team sizes, from large organizations to small start-ups. I have worked
    with a wide array of technologies during my time as a developer, and am able to get to grips with new tech quickly
    as I have frequently had to do so over the years.</p>

  <p>In my free time I am a voracious watcher of films (with a special interest in 80's schlock!), a frequent player of
    tabletop role playing games and an
    occasional player of video games.</p>
</div>
{% endblock %}