{% extends "base.j2" %}
{% block content %}
<h1>Resume</h1>
<hr>
{% for item in resume_data %}
<div class="resume-container">
  <h3>{{ item.company }} | {{item.time}} | {{ item.location }}</h3>
  <h4>{{ item.title }}</h4>
  <p>{{ item.description }}</p>
</div>
{% endfor %}
<div id="skill-container">
  {% for skill in skills %}
  <span class="skill">{{ skill }}</span>
  {% endfor %}
</div>
{% endblock %}