{% extends "base.j2" %}
{% block content %}
<h1>Resume</h1>
<p>I have worked as a software developer for a long time apparently!</p>
<div id="skill-container">
  <span class="skill">HTML</span>
  <span class="skill">CSS</span>
  <span class="skill">JavaScript</span>
  <span class="skill">TypeScript</span>
  <span class="skill">Node.js</span>
  <span class="skill">React.js</span>
  <span class="skill">React Native</span>
  <span class="skill">PostgreSQL</span>
  <span class="skill">Python</span>
  <span class="skill">Heroku</span>
  <span class="skill">Markdown</span>
</div>
{% endblock %}